include mixins
  //ons-navigator(var="CartNavigator") 
ons-page(ng-controller="CarritoCtrl").Cart
  ons-toolbar
    .left: ons-back-button Atras
      //ons-toolbar-button(ng-click="menu.toggleMenu()"): ons-icon(icon="ion-navicon")
    .center Tu carrito
    //.right
        ons-toolbar-button(ng-click="menu.setMainPage('app/view/portada.html')"): ons-icon(icon="ion-android-bar")

  ons-bottom-toolbar.navigation-bar(ng-show="cartCount>0")
    ons-row
      ons-col(width="50%"): .totalAmount {{ order.total_amount | currency }}
      ons-col(width="50%"): .nextStep
        ons-toolbar-button.payBtn(ng-click="Navigator.pushPage('app/view/checkout.html')", ng-show="loggedin")
          ons-icon(icon="ion-bag")
          |  Siguiente
        ons-toolbar-button.payBtn(ng-click="registroCarrito()", ng-hide="loggedin") Necesitas registrarte

  div(ng-show="cartCount>0")
    ons-row: ons-col.instrucciones Desliza hacia la izquierda para eliminar productos.
    ons-row.productsList
      ons-col
        ons-list
          ons-list-item(ng-repeat="prod in cartItems").product
            ons-carousel(style="width:100%; height: 100px;", swipeable, overscrollable, auto-scroll, var="carousel{{prod.id}}")
              ons-carousel-item
                ons-row
                  ons-col(width="60px"): .thumb: img(ng-src="http://jagergin.com/cms/api/imageFiles/{{prod.refId}}.jpg", alt="")
                  ons-col
                    ons-row
                      ons-col.infoPrd
                        .name {{ clean( prod.name ) }}
                        .description {{prod.description}}
                    ons-row
                      ons-col.qty
                        select(ng-change="setQty(cartItems[$index], cartItems[$index].quantity, 'carousel'+prod.id)", ng-model="prod.quantity", ng-options="ct for ct in cantidades track by ct").selectQty
                        //ons-icon(icon="ion-android-remove", ng-click="decreaseQuantity_tap(cartItems[$index], cartItems[$index].quantity, 'carousel'+prod.id)", ng-class="{'eliminate' : cartItems[$index].quantity == 1}")
                        //ons-icon(icon="ion-android-add", ng-click="increaseQuantity_tap(cartItems[$index])")
                        .priceTotal 
                          span x | 
                          | {{ cartItems[$index].subTotal | currency}}
                    ons-button(ng-click="deleteFirst('carousel'+prod.id)", modifier="button--quiet").delete: ons-icon(icon="ion-trash-b")
              ons-carousel-item.delete
                ons-row
                  ons-col
                    ons-button(ng-click="removeFromCart(cartItems[$index])")
                      ons-icon(icon="ion-trash-b")
                      |  Eliminar
                      
  div(ng-show="cartCount==0").noItemsInCart
    ons-row: ons-col.instrucciones No hay productos en tu carrito.
    ons-row
      ons-col &nbsp;
      ons-col
        ons-button(ng-click="Navigator.popPage();") Regresar
      ons-col &nbsp;
